/* Body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 100px;
  }
  
  /* Header */
  header {
    background-color: #222;
    color: #fff;
    padding: 10px;
  }
  
  /* Main content */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    margin-left:20px;
    margin-top:15px;
    margin-bottom:15px;
  }
  
  button {
    background-color: #ddd;
    border: none;
    color: #222;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ccc;
  }
  
  .p-vacancies {
    display: none;
  }
  
  .p-selected {
    display: block;
  }
  
  /* Footer */
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  